body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding: auto;
}
header{
    background-color: blue;
    color: white;
    padding: 1em;
    width: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1em;
}
img{
    width: 100%;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}
nav ul li a:hover{
    background-color: rgb(73, 73, 73);
}
#Inicio{
    height: 100vh;
    background-color: aqua;
    margin: 4em 0 4em 0;

}
#Acercade{
    height: 100vh;
    background-color: #6bb8ff;
    margin: 4em 0 4em 0;
    padding: 2em;
}
#Servicios{
    height: 100vh;
    background-color: rgb(255, 0, 0);
    margin: 4em 0 4em 0;
    padding: 2em;
} 
#Contacto{
    height: 100vh;
    background-color: rgb(228, 59, 243);
    margin: 4em 0 4em 0;
    padding: 2em;
}
#Servicios{
    padding: 2em;
}
main{
    padding: 2em;
}
#Sinicio{
    margin-top: 4em;
    padding:  -1em 1em 1em 1em;
}


/* Responsive Design */
@media (max-width: 768px) {
 nav ul {
 display: none;
 flex-direction: column;
 width: 100%;
 background-color: blue;
 }
 nav ul li a {
 padding: 1em;
 text-align: center;
 }
 #nav-toggle {
 display: block;
 }
 .nav-open ul {
 display: flex;
 }
}
#nav-toggle{
    display: flex;
    background-color: rgb(74, 74, 224);
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
.contenedorS{
    border: 2px solid black;
    padding: 20px;
}